# ==========================================================
# ENTORNOS VIRTUALES
# ==========================================================

.venv/
venv/
env/


# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/


# ==========================================================
# IDE / EDITORES
# ==========================================================

.vscode/
.idea/


# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

.DS_Store
Thumbs.db


# ==========================================================
# DATOS ORIGINALES / SENSIBLES
# ==========================================================

data/raw/

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/powerbi/*
!data/powerbi/.gitkeep


# ==========================================================
# SALIDAS GENERADAS AUTOMÁTICAMENTE
# ==========================================================

data/processed/
data/powerbi/


# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.tmp
*.temp
*.log
~$*